---
layout: default
---

<div class="home">

    <table class="profile-table">
        <tbody>
            <tr>
                <td class="text-col">
                    <span class="name">{{ site.title | escape }}</span>
                    {{ content }}
                    <p class="contact-links">
                        <a href="{{ "/cv.pdf" | relative_url }}">CV</a>
                        <!-- Add when ready:
                        &nbsp;&middot;&nbsp;
                        <a href="https://scholar.google.com/citations?user=YOUR_ID">Google Scholar</a>
                        -->
                    </p>
                </td>
                <td class="photo-col">
                    <img src="{{ "/images/Profile_Picture_Circular.png" | relative_url }}"
                        alt="{{ site.title | escape }}" class="hoverZoomLink">
                </td>
            </tr>
        </tbody>
    </table>

    {%- if site.posts.size > 0 -%}
    <h2 class="heading news-heading">{{ page.list_title | default: "News" }}</h2>
    {%- for post in site.posts -%}
    <p class="news-item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span><br>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {%- if site.show_excerpts -%}{{ post.excerpt }}{%- endif -%}
    </p>
    {%- endfor -%}
    {%- endif -%}

    <div class="github-activity">
        <img src="https://ghchart.rshah.org/FabianBarrett" alt="Ben's GitHub activity." />
    </div>

</div>
